.button-contianer {
  width: 462px;
  height: 21px;
  margin-top: -725px;
  margin-left: 700px;
  gap: 0px;
  opacity: 0px;
}

.button-contianer button {
  margin-right: 20px;
  background: none;
  border: none;
  width: 77px;
  height: 18px;
  top: 59px;
  left: 1450px;
  opacity: 0px;
  color: #ffffff;
}

.login-button {
  width: 300px;
  height: 21px;
  margin-top: -28px;
  margin-left: 400px;
  padding: 10px;
  gap: 10px;
  opacity: 0px;
}

.login-button button {
  margin-right: -2px;
}
